.search {
  position: fixed;
  top: 5%;
  left: 50%;

  transform: translate(-50%, 0);
}

.search form {
  display: flex;
  justify-content: space-evenly;
}
form input {
  width: 15rem;
  border-radius: 15px;
  height: 2rem;
}
form button {
  color: white;
  background-color: rgb(71, 71, 223);
  margin-left: 2%;
  border-radius: 15px;
  width: 5rem;
}
